<h4>Interact with the following controls with the console open</h4>

<div [formGroup]="testGroup" class="four-across">
  <div>
    <input
      type="checkbox"
      id="check"
      [formControl]="testGroup.controls.showing"
    />
    <label for="check">Show Workers</label>
  </div>
  <div>
    <input id="testVal" [formControl]="testGroup.controls.testVal" />
    <label for="testVal">testVal</label>
  </div>
  <div>
    <input [formControl]="testGroup.controls.testVal2" />
    <label>testVal2</label>
  </div>
  <div>
    <input [formControl]="testGroup.controls.testVal3" />
    <label>testVal3</label>
  </div>
</div>

<worker-cmp
  [label]="testGroup.controls.testVal.value"
  [label2]="testGroup.controls.testVal2.value"
  *ngIf="testGroup.controls.showing.value"
></worker-cmp>
